<% for (var i = 1; i <= n; i++) { %>
	<% if (i % 15 == 0) { %>
	FizzBuzz
	<% } else { %>
		<% if (i % 3 == 0) { %>
		Fizz
		<% } else { %>
			<% if (i % 5 == 0) { %>
			Buzz
			<% } else { %>
			<%= i %>
			<% } %>
		<% } %>
	<% } %>
<% } %>
